torch
transformers
accelerate
bitsandbytes==0.42.0
huggingface-hub
langchain
langchain-community
pypdf
sentence-transformers
beautifulsoup4
selenium
langserve[all]
chromadb
langchain-chroma
faiss-cpu
rapidocr-onnxruntime
unstructured
fastapi
uvicorn
